<div class="container">
  <div class="jumbotron row"><h1>Restaurants</h1></div>
  <div class="row">
    <div class="form-group has-search">
      <span class="fa fa-search form-control-feedback"></span>
      <input type="text" class="form-control" [(ngModel)]="searchText" placeholder="Search" (change)="saveSearch()">
    </div>
    <div class="col-md-1" (click)="clearSearch()"><i class="fa fa-times fa-2x"></i></div>
    <div class="col-md-2" (click)="sortByDeliveryTime()">Delivery time<i class="fa fa-arrow-down" *ngIf="!deliveryTimeSorting"></i><i class="fa fa-arrow-up" *ngIf="deliveryTimeSorting"></i></div>
    <div class="col-md-1" (click)="sortByRating()">Rating<i class="fa fa-arrow-down" *ngIf="ratingSorting"></i><i class="fa fa-arrow-up" *ngIf="!ratingSorting"></i></div>
  </div>
  <div class="row text-secondary mb-2">
    <small>RECENT SEARCHES</small>
  </div>
  <div class="row mb-2" *ngFor="let search of recentSearches">
    <small>{{search}}</small>
  </div>
  <div class="row">
    <div class="card mr-3 mb-2" style="width: 18rem;" *ngFor="let restaurant of mockCardData | searchfilter: searchText">
      <img class="card-img-top" src="../assets/img/swiggy.jpeg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{restaurant.restaurantName}}</h5>
        <p class="card-text">{{restaurant.cuisines}}</p><hr>
        <span class="text-secondary mr-5"><i class="fa fa-star"></i>{{restaurant.rating}}</span><span class="text-right ml-5 text-secondary">{{restaurant.deliveryTime}} MINS</span>
      </div>
    </div>
  </div>
</div>